@CHARSET "UTF-8";

#nav_wrap {
	position: relative;
	width: 100px;
}
/* 
.send {
	width: 150px;
	background-color: black;
	font-size: 14pt;
}

#sendla {
	margin: 0px auto;
	color: white;
} */